# fly.toml app configuration file generated for payhook-taivippro123 on 2025-11-11T16:50:40+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'payhook-taivippro123'
primary_region = 'sin'

[build]

[env]
  NODE_ENV = 'production'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services]]
  protocol = 'tcp'
  internal_port = 8080

  [[services.ports]]
    port = 80
    handlers = ['http']

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [services.concurrency]
    type = 'requests'
    hard_limit = 50
    soft_limit = 25

  [[services.http_checks]]
    interval = '10s'
    timeout = '2s'
    grace_period = '10s'
    method = 'get'
    path = '/health'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
